.home-container {
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../../img/books-wallpaper.jpg");
	background-size: cover;

	h1 {
		font-size: 2.5rem;
		color: $primary;
	}

	.login-btn {
		margin-top: 25px;
		font-size: 1.2rem;
		color: #fff;
		background-color: $primary;
		padding: 10px 25px;
		border-radius: 5px;
	}
}
