{% extends 'base.html.twig' %}

{% block main %}
	<div class="edit-container">
		<h3>Edit Book</h3>
		{{ include('book/_form.html.twig', {'button_label': 'Update'}) }}
		<div class="actions">
			<a class='list-btn' href="{{ path('app_book_index') }}">Back to list</a>
			{{ include('book/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
