{% extends 'base.html.twig' %}

{% block main %}
	<div class="new-container">
		<h3>Create new Book</h3>
		{{ include('book/_form.html.twig') }}
		<a class='list-btn' href="{{ path('app_book_index') }}">Back to list</a>
	</div>
{% endblock %}
